button {
    padding: 0.75rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    border-radius: 60px;
    width: "100%";
}

.filled {
    background-color: var(--primary-color);
    color: white;
}

.filled:hover {
    background-color: #0056b3;
}

.outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.outline:hover {
    background-color: rgba(0, 123, 255, 0.1);
}