.inputContainer {
    margin-bottom: 1.5rem;
    width: 100%;
}

.label {
    margin-bottom: 0.75rem;
    font-weight: 500;
    color: #37474f;
    display: block;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #cfd8dc;
    border-radius: 6px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input {
    padding: 1rem 1.25rem;
    border: none;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    min-height: 3rem;
    font-size: 1rem;
    color: #37474f;
    background-color: #f8f8f8;
    outline: none;
}

.input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.icon {
    position: absolute;
    left: 1rem;
    color: #888;
}

.errorMessage {
    color: var(--danger-color);
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

.error .inputWrapper {
    border-color: var(--danger-color);
}

.mb1 {
    margin-bottom: 0.5rem;
}

.rounded {
    border-radius: 6px;
}

.errorLabel {
    color: var(--danger-color)
}

.errorState {
    color: var(--danger-color);
    border-color: 1px solid var(--danger-color);
}

.errorState .input::placeholder {
    color: var(--danger-color);
}