.login-container {
    display: flex;
    height: 100vh;
    background-color: var(--background-color);
}

.login-form-container {
    width: 50%;
}

.login-box {
    background-color: var(--white);
    padding: 3rem 4rem;
    border-radius: 12px;
    min-width: 350px;
    max-width: 450px;
}

.title {
    color: var(--primary-color);
}

.login-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--text-color);
}

.login-desc {
    color: var(--text-light-color);
    font-size: 1rem;
}

.img-container {
    width: 50%;
    overflow: hidden;
}

.img {
    height: 100%;
    border-radius: 50px;  
    object-fit: cover;  
}