.container {
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.filtersContainer {
  display: flex;
  gap: 12px;
}

.datePickerContainer {
  display: flex;
  gap: 16px;
  width: 100%;
}

.reportsHeader {
  display: flex;
  justify-content: space-between;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 8px;
}

.message {
  color: var(--danger-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.cardContainer {
  display: flex;
  gap: 16px;
  justify-content: flex-start; 
  padding: 16px;
  overflow-x: auto; 
}