.imagePickerContainer {
    margin-bottom: 1.5rem;
}

.label {
    display: block;
    margin-bottom: 0.75rem;
    font-weight: 500;
    color: #37474f;
}

.inputWrapper {
    display: flex;
    align-items: center;
    border: 1px solid #cfd8dc;
    border-radius: 6px;
    overflow: hidden;
}

.input {
    display: none;
}

.fileLabel {
    padding: 1rem 1.25rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #37474f;
    font-weight: normal;
}

.errorMessage {
    color: var(--danger-color);
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

.errorLabel {
    color: var(--danger-color) !important;
}

.errorState {
    color: var(--danger-color);
    border-color: 1px solid var(--danger-color);
}

.errorState .input::placeholder {
    color: var(--danger-color);
}

.inputWrapper:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.previewContainer {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
  
.previewImage {
    width: 20rem;
    height: 10rem;
    object-fit: contain;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.deleteIconContainer {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    left: 18rem;
    border: none;
    padding: none;
    background: none;
    cursor: pointer;
}
  