.imagePickerContainer {
    margin-bottom: 1.5rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #37474f;
}

.inputWrapper {
    display: flex;
    align-items: center;
    border: 1px solid #cfd8dc;
    border-radius: 6px;
    overflow: hidden;
}

.input {
    display: none;
}

.fileLabel {
    padding: 1rem 1.25rem;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #37474f;
}

.errorMessage {
    color: var(--danger-color);
    margin-top: 0.5rem;
    font-size: 0.875rem;
}   